.banner {
  background-image: url("../assets/banner.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  margin: auto;
  min-height: 600px;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  color: var(--white);
  font-weight: 700;
  gap: 60px;
}

.title {
  font-size: 96px;
  padding-top: 80px;
}
.title span {
  display: block;
  font-size: 96px;
}
.banner_btn {
  background-color: var(--ui-color);
  color: var(--white);
  border: none;
}

@media (max-width: 1000px) {
.banner{
  min-height: 470px;
  max-width: 1000px;
  margin: 0 auto;
}

}
@media (max-width: 768px) {
.banner{
  min-height: 630px;
  max-width: 768px;
}
  .title {
    font-size: 60px;
  }
  .title span {
    font-size: 60px;
  }
}
@media (max-width: 480px) {

}
@media (max-width: 360px) {
    .title {
    font-size: 50px;
  }
  .title span {
    font-size: 50px;
  }
}
